src/test/resources/mongodb-global-endpoint-test-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:mongodb="http://www.mulesoft.org/schema/mule/mongodb"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
       http://www.mulesoft.org/schema/mule/mongodb http://www.mulesoft.org/schema/mule/mongodb/3.1/mule-mongodb.xsd
       http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.1/mule-vm.xsd
       ">

    <mongodb:connector name="mongodbConnector"
                       database="mule-mongodb"
                       username="user"
                       password="pass"
                       pollingFrequency="1000"
                       hostname="localhost"/>


    <mongodb:endpoint name="mongoGlobalOutboundEndpoint" collection="stuff"/>
    <mongodb:endpoint name="mongoGlobalInboundEndpoint" collection="foo" query='{ "name": "foo2" }'/>

    <flow name="Mongo Outbound Flow">
        <vm:inbound-endpoint path="input"/>
        <outbound-endpoint ref="mongoGlobalOutboundEndpoint"/>
        <vm:outbound-endpoint path="output"/>
    </flow>

    <flow name="Mongo Inbound Flow">
        <inbound-endpoint ref="mongoGlobalInboundEndpoint"/>
        <vm:outbound-endpoint path="fooOutput"/>
    </flow>

    <flow name="Update Upsert Flow">
        <vm:inbound-endpoint path="upsert.true"/>
        <mongodb:outbound-endpoint collection="upserts" dispatchMode="update"
                                   updateQuery='{ "thiswont": "matchanything" }'
                                   writeConcern="SAFE"
                                   upsert="true" exchange-pattern="request-response"/>
        <vm:outbound-endpoint path="upsert.out.true"/>
    </flow>


    <flow name="Update No Upsert Flow">
        <vm:inbound-endpoint path="upsert.false"/>
        <mongodb:outbound-endpoint collection="upserts" dispatchMode="update"
                                   updateQuery='{ "thiswont": "matchanything" }'
                                   writeConcern="SAFE"
                                   upsert="false" exchange-pattern="request-response"/>
        <vm:outbound-endpoint path="upsert.out.false"/>
    </flow>


    <flow name="Query Test With Expression">
        <vm:inbound-endpoint path="query.expr.in">
            <message-properties-transformer>
                <add-message-property key="FOO" value="#[header:INBOUND:FOO]"/>
            </message-properties-transformer>
        </vm:inbound-endpoint>
        <mongodb:outbound-endpoint collection="query" query='{ "name": "#[header:FOO]" }'
                                   exchange-pattern="request-response"/>
        <vm:outbound-endpoint path="query.expr.out"/>
    </flow>

     <flow name="Query Test With Keys">
        <vm:inbound-endpoint path="query.keys.in"/>
        <mongodb:outbound-endpoint collection="query" query='{ "name": "John" }'
                                   exchange-pattern="request-response" keys="{'name': 1}"/>
        <vm:outbound-endpoint path="query.keys.out"/>
    </flow>

    <flow name="GridFS Load File">
        <vm:inbound-endpoint path="gridfs.load.in"/>
        <mongodb:gridfs-file bucket="foo" connector="mongodbConnector"/>
        <vm:outbound-endpoint path="gridfs.load.out"/>
    </flow>

    <flow name="GridFS Query For File By ID">
        <vm:inbound-endpoint path="gridfs.query.in">
            <message-properties-transformer>
                <add-message-property key="MONGO_ID" value="#[header:INBOUND:MONGO_ID]"/>
            </message-properties-transformer>
        </vm:inbound-endpoint>
        <mongodb:gridfs-file bucket="foo" query='{ "_id": "#[header:MONGO_ID]" }' connector="mongodbConnector"/>
        <vm:outbound-endpoint path="gridfs.query.out"/>
    </flow>

</mule>